@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #e0d700;
  }
}

.blurred-border-bottom::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  left: -20px;
  height: 40px;
  width: 120%;
  overflow-y: hidden;
  background: gray;
  box-shadow: 0 10% 10% rgba(0, 0, 0, 0.3);
  filter: blur(8px);
  z-index: 20;
}

.scaleAnim {
  animation: leaves 6s infinite;
}

@keyframes leaves {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(2);
  }
}

.img-hor {
  transform: rotateY(180deg);
}

.img-vert {
  transform: rotateX(180deg);
}
