@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #b4a088;
    /* font-family: "Permanent Marker", cursive; */
    font-weight: 400;
    font-style: normal;
  }
}

.text-marquee {
  /* text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25); */
  /* text-shadow: 0px 5px 2px black; */
  color: white;
  /* -webkit-text-stroke: 1px black; */
}

.blurred-border-bottom::after {
  /* content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  left: -20px;
  height: 40px;
  width: 120%;
  overflow-y: hidden;
  background: gray;
  box-shadow: 0 10% 10% rgba(0, 0, 0, 0.3);
  filter: blur(8px);
  z-index: 20; */
}

.scaleAnim {
  animation: leaves 6s infinite;
}

@keyframes leaves {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(2);
  }
}

.img-hor {
  transform: rotateY(180deg);
}

.img-vert {
  transform: rotateX(180deg);
}

.text-strike-anim {
  position: relative;
}

.strikethrough {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.strikethrough:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.6);
  margin-top: -0.7em;
  background: black;
  transform-origin: center left;
  animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* Little hover effect */

.strikethrough:hover {
  color: rgba(200, 0, 0, 1);
  background: rgba(255, 189, 182, 0.3);
}

.strikethrough:hover:after {
  transform: scaleX(0);
  transform-origin: center right;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.block-2-card {
  z-index: 50;
  background-color: rgb(69, 33, 13, 0.84);
}
